
.card-container{
    height: 100vh;
    width: 1275px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(243, 134, 133),rgb(182, 193, 246));
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
}
.grid{
    margin-left:100px;
}